<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Product</title>
</head>
<body>
    <div>
        <p><img src="#" alt="Sorry" /></p>
        <p>Name: @Model.Name</p>
        <p>Price: @Model.Price</p>
        <p>Description: @Model.Description</p>
    </div>
    <a href="/Product/Index">Back</a>
</body>
</html>